{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="text-center">
            <h2>바르셀로나</h2>
            <h4>Barcelona, Spain</h4>
        </div>
    <div>
        <h3>바르셀로나를 여행하기에 앞서</h3>
        <p>수도인 마드리드와 함께 스페인을 대표하는 도시가 바로 바르셀로나이다. 스페인만 여행할 때는 당연히 필수로 가게 되고, 서유럽권을 여행할 때에도 거의 빠지지 않는 도시이다. 스페인 일정이 짧은
            경우 이탈리아나 스위스, 프랑스에서 접근하기 가깝기 때문에 수도인 마드리드는 가지 않더라도 바르셀로나만 가는 경우도 많다. 우리나라에서 비행기를 타고 스페인에 가려면 바르셀로나 또는 마드리드로
            들어가야 한다. 스페인 여행을 계획 중이라면, 바르셀로나에서 시작하거나 바르셀로나에서 마지막 일정을 보내도록 계획하는 것이 좋다.

            어찌보면 바르셀로나는 수도인 마드리드보다 더 사랑받는 도시이다. 지중해 연안에 위치해 있어 따뜻하고 온난한 기후에 신선하고 풍부한 재료가 많고 스페인 각지의 음식도 수준급으로 내놓는 곳이 많다.
            특히나 해산물이 싱싱해 해산물 전문 레스토랑에 가면 웬만해서는 만족스러운 맛을 느낄 수 있다. 스페인이 낳은 유명한 예술가들의 흔적도 고스란히 담겨진 도시이기도 하다. 바르셀로나 하면 가우디의
            도시라고 불릴만큼 시내 곳곳에서 가우디의 독특하고 아름다운 건축물들을 마주칠 수 있다. 또한 초현실주의 작가 미로는 바르셀로나에서 태어났고, 살바도르 달리 역시 바르셀로나에서 대학을 나와 젋은
            시절 대부분을 바르셀로나에서 보냈다. 독특하면서도 미적 감각이 뛰어난 도시인 바르셀로나는 패션에 있어서도 뒤지지 않는다. 우리나라에서도 유명한 패스트 패션 브랜드 자라, 망고도 스페인의
            브랜드로, 바르셀로나에서는 우리나라의 40%의 가격으로 질좋고 디자인 좋은 의류쇼핑이 얼마든지 가능하다.

            도시의 규모 자체는 크지 않지만, 촘촘하게 볼거리, 먹거리, 살거리가 풍족하게 포진해 있는 도시이므로 적어도 여행 일정은 2박 이상 잡는 것이 좋다. 느긋하게 바르셀로나의 근교까지 돌아볼
            계획이라면 7박정도를 잡아도 후회 없는 도시다.</p>
        <br>
        <h3>바르셀로나 지역 안내</h3>
        <br>
        <h3>사그라다 파밀리아 성당</h3>
        <img src="/static/image/barcelona.jpeg" alt="">
        <p>지중해 연안의 도시 바르셀로나는 고딕 건축물과 신고딕양식의 건축물로 독특한 멋을 가지고 있다. 동시에 현대적인 건축물도 부조화속의 조화를 이룬다. 그로테스크함과 명랑함 이 안어울리는 두가지
            느낌을 동시에 풍기며 어느 도시에서도 느낄 수 없었던 독특함을 자아낸다. 몬주익 언덕이나 구엘 공원에 오르면 바르셀로나의 바다까지 한 눈에 감상할 수 있다. 이때 바라다보이는, 아직도 건축 중인
            미완의 사그라다 파밀리아 성당의 웅장하고 독특한 모습과 토레 아그바르의 현대적인 모습이 바르셀로나의 독특한 매력 중 하나일 것이다. 바닷가의 바르셀로네타 해변 지역과 그 위쪽의 보른 지구, 고딕
            지구,라발 지구 등 옛 모습을 잘 간직하고 있는 지역을 지나면, 깔끔하게 바둑판으로 정리된 에이삼플라 지구가 나온다. 투어팁스 바르셀로나 편에서는 중심 여행지를 중심으로 구획해 5개 지역으로
            나누어 바르셀로나를 소개한다.

            첫번째 지역인 ‘람블라스 거리&까딸루냐 광장 주변’은 인기명소가 빽빽하게 모여있는 지역이다. 세계에서 가장 아름다운 광장이라고 불리우는 까딸루냐 광장과 거리 예술가와 거리 상인들이 많은 람블라스
            거리를 중심으로 많은 맛집과 쇼핑 명소가 모여있다. 가우디의 가로등이 있는 아름다운 레이알 광장, 싱싱한 과일과 치즈를 살 수 있는 보께리아 시장도 볼만하다. 바르셀로나 대성당과 왕의 광장이
            있는 고딕 지구, 아기자기한 가게들이 많은 보른 지구도 여기 속해 있다.

            ‘까사 밀라&까사 바뜨요 주변’은 가우디를 비롯해 몬타네르, 푸이그 이 카다팔츠크 등 바르셀로나의 모더니즘 건축에 큰 영향을 끼친 대가들의 건축 전시장이라고 할 수 있다. 이곳은 19세기
            바르셀로나시의 계획도시인 에이삼플라(Eixample)지역으로, 도로를 바둑판 모양으로 반듯하게 정비하고 비슷비슷한 팔각형 모습의 건물들과 많은 공원을 볼 수 있다. 에이삼플라의 중심은 그라시아
            거리이다. 이 지역을 대표하는 대로로 까딸루냐 북서쪽에서 시작해 길게 이어져 있다. 명품 브랜드와 고급스러운 레스토랑이 많다. 무엇보다 이 거리를 따라 걷기만 해도 가우디의 유명 작품인 까사
            바뜨요, 까사 밀라 등을 볼 수 있다. 로에베 등 상점이 자리한 자리도 모두 실제 19세기에 지어진 건물의 일부이기 때문에 쇼핑을 하지 않고 눈으로 보기만 해도 충분히 즐길 만하다.

            보른 지구를 따라 내려오거나, 람블라스 거리를 쭉 따라 남동쪽으로 내려오면 따뜻한 지중해 바닷가인 바르셀로나를 만날 수 있다. 이 곳 ‘바르셀로네타 주변’ 지역은 포트벨 항구와 바르셀로네타
            해변쪽으로 다시 나누어 볼 수 있다. 포트벨에는 대형 놀이시설인 IMAX나, 바르셀로나 수족관, 대형 복합 쇼핑센터인 마레 마그눔이 있다. 현지인들에게서 스페인 최고의 휴양지로 사랑받는
            바르셀로네타 해변은 싱싱한 해산물 요리 레스토랑과 카페, 바 등이 즐비한 지역이다. 조금 멀더라도 정말 맛있는 해산물 레스토랑들이 모여있으니 한번 쯤은 꼭 다녀오길 바란다.

            ‘몬주익 언덕&호안 미로 미술관 주변'은 바르셀로나 시내와 지중해 바다까지 여러 각도에서 조망할 수 있는 포인트를 여럿 가지고 있는 지역이다. 몬주익 언덕, 미라도르 전망대, 미라마르
            전망대에서는 제각각 바르셀로나의 색다른 모습을 볼 수 있다. 에스빠냐 광장에서 까딸루냐 미술관을 배경으로 펼쳐지는 화려한 몬주익 분수쇼도 바르셀로나 여행의 하이라이트. 호안 미로가 전 재산을
            들여 만든 독특한 초현실주의 미술관 호안 미로 미술관도 놓치지 않아야 하는 포인트다.

            마지막 지역인 ‘사그라다 파밀리아 성당&구엘 공원 주변’은 가우디의 걸작 사그라다 파밀리아 성당과 구엘 공원이 가장 큰 핵심 포인트이다. 건축 답사를 위해 이곳을 찾았다면 몬타네르의 세상에서
            가장 아름다운 병원, 산 파우 병원과 가우디의 식물 포티프의 장식이 가득한 저택 까사 비센스도 주목해 보자.</p>
  <br>

        <h3>역사와 문화</h3>
        <br>
바르셀로나 도시의 시작은 BC 2,000으로 거슬러 올라간다. 스페인의 역사는 많은 외세에 의한 정복과 침량으로 굴곡져 있다. BC 131년 이베리아 반도를 로마가 정복하고 400년간 지배당한다. 로마가 떠난 뒤 서고트 족이 왕국을 세운다. 그 후 711년 이슬람교의 사령관 타리크 이븐 지야드에 의해 지배당하여 1492년까지 거의 800년에 달하는 시기동안 이슬람 국가로 자리잡는다. 오랜시간 이슬람 문명에 지배당한 덕인지 동양적인 문화와 건축양식 등 다른 서유럽 국가와는 확연히 다른 색채를 띈다.

1492년은 스페인 사람들에게 매우 기념비적인 해이다. 스페인에 남아있던 이슬람의 마지막 왕국인 그라나다 왕국이 함락되면서 이베리아 반도는 기독교인들의 땅이 된다. 카스티야 왕국의 이사벨 여왕이 국토를 수복하여 통일을 이룩한 것. 통일이 되기 이전에 바르셀로나와 그 주변은 까딸루냐라는 독립된 나라로 독자적 문화와 언어를 가지고 있었다. 이 해에 콜롬버스가 신대륙을 발견하기도 하여 스페인의 역사에 큰 획을 긋기도 하였다. 1492년으로부터 500년. 1992년에는 이 기념비적인 해의 500주년을 맞이하여 바르셀로나 올림픽을 개최하기도 하였다.

스페인의 이사벨 여왕의 치세가 끝나고, 독일 합스부르크 왕가의 지배를 받으며 황금 시대 Cielo d'oro를 맞이하게 된다. 이 전성기를 통해 마드리드가 스페인의 중심이 된 이후 스페인은 서서히 쇠퇴의 길로 접어든다. 1700년 합스부르크 왕가의 혈통이 끊기고 프랑스의 혈통의 루이 14세가 조카를 앞세워 왕위 계승권을 주장하면서 독일과 프랑스 사이에 '왕위 계승 전쟁'이 일어난다. 결과는 프랑스의 승리로 펠리페 3세가 왕위에 오르면서 프랑스가 스페인에 미치는 영향이 강력해진다. 이후 나폴레옹이 스페인을 점령하여 형을 국왕으로 책봉하여 1814년까지 끊임없는 독립투쟁이 이루어진다. 외세에 휘둘리는 이 시기에 스페인은 푸에르토리코, 쿠바, 필리핀 등의 식민지를 잃게 된다.

19세기 산업혁명시기를 맞이하며 스페인에는 내전이 발발하게 된다. 1936년부터 1939년까지 이어진 내전에서 프랑코 장군이 승리하며 이후 공포정치가 이어진다. 이 시기의 바르셀로나와 까딸루냐 지방은 프랑코 독재정권에 의해 자치권을 박탈당하고 까딸루냐어의 사용을 금지당하는 등 핍박받게 된다. 프랑코 사후 후안 카를로스 1세에 의해 스페인은 긴 암흑기를 거쳐 자유민주주의 국가로서 눈부신 발전을 이루게 된다. 바르셀로나는 스페인에서 가장 부유한 도시가 되며 시내를 다시 정비하는 에이삼플라 지구가 생겨나는 등 대대적인 도시 정비가 이루어진다. 우리가 지금 바르셀로나에서 볼 수 있는 아름다운 모더니즘 건축물들은 대부분 이 시기에 의한 것. 이 시기에 활동한 대표적인 예술가가 가우디이다. 또한 독재 정권에 의해 탄압받던 역사는 바르셀로나와 까딸루냐 지방 사람들에게 오히려 자긍심을 높여주는 결과를 만들었다. 오늘날까지도 바르셀로나의 사람들은 스페인 사람이라는 표현보다는 까딸루냐 사람이라는 표현을 더 좋아하며 자부심을 느끼는 걸 볼 수 있다. FC 바르셀로나와 레알 마드리드 팬들의 날선 관계도 이 까딸루냐 지방과의 지역감정과도 연결된다. 바르셀로나의 주요 여행지에 까딸루냐라는 단어가 들어가있는 곳이 매우 많은 것은 이런 역사적 배경을 가지고 있음을 알고 보면 더욱 즐거울 것이다.</p>
    </div>
</div>
{% endblock %}