{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="text-center">
        <h2>멜버른</h2>
        <h4>Melbourne, Austrailia</h4>
    </div>
    <div>
    <h3>잠 잘 시간도 아까운곳입니다.</h3>
    문화 애호가든 스포츠 광이나 식도락가든 누구나 자기 취향에 맞는 명소와 관광활동이 무궁무진한 멜버른은 잠 잘 시간조차 아까운 곳입니다.
    정연한 도시 거리 사이로 곳곳에 펼쳐진 골목길에서 다채로운 카페와 바, 부티크를 만날 수 있습니다.
    사우스뱅크(Southbank)에서 활기찬 강변 분위기를 즐기고 창조 정신과 카페 문화가 어우러지는 페더레이션 광장(Federation Square)으로 가보세요.
    크루즈로 야라 강을 돌아보거나 왕립식물원의 잔디와 호수를 거니는 것 또한 상큼합니다.
        <p class="text-center"><img src="/static/image/melbourne.jpg" alt=""></p>
    고급스런 사우스 야라(South Yarra), 세인트 킬다(St Kilda) 해변, 개성적인 피츠로이(Fitzroy) 등 다양한 지역에서 독특한 활력을 느껴보세요.
    그리고 당일치기로 모닝턴 반도의 해변과 와이너리, 갤러리와 골프 코스를 둘러보세요
    </div>
</div>
{% endblock %}