{% extends 'base.html' %}

{% block content %}

<h4>최근 본 상품</h4>
{{ city }}
<div class="card-deck">
  {% for city in cities %}
  <div class="card">
    <a href="{% url 'flight-detail' city.pk %}"><img class="card-img-top" src="/static/image/kyoto.jpg" alt="Card image cap"></a>
    <div class="card-body">
      <a href=""><h5 class="card-title">[ 항공권 ] 도쿄 3박 4일</h5></a>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
  {% endfor %}
{% endblock %}