{% extends 'base.html' %}

{% block content %}
	<nav class="border-bottom">
        <div class="container">
            <div class="">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a href="" class="nav-link disabled">전체 여행지</a></li>
                    <li class="nav-item"><a href="" class="nav-link disabled">홈</a></li>
                    <li class="nav-item"><a href="" class="nav-link disabled">여행지 추천</a></li>
                </ul>
            </div>
        </div>
    </nav>
        <div class="container">
        </div>
    <img src="/static/image/main_0729.jpg"
         alt=""
         class="img-fluid"
         >
{% endblock %}