{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h2>아시아</h2>
        <div class="container card" style="width: 200px; margin: 30px">
            <h3>일본</h3>
            <h5>오사카</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='osaa' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='osaa' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>도쿄</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='tyoa' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='tyoa' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>중국</h3>
            <h5>베이징</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='bjsa' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='bjsa' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>상하이</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='csha' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='csha' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>대만</h3>
            <h5>타이페이</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='tpet' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='tpet' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>가오슝</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='khh' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='khh' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>마카오</h3>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='mfm' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='mfm' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>라오스</h3>
            <h5>루앙프라방</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='lpq' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='lpq' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>비엔티엔</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='vte' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='vte' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>말레이시아</h3>
            <h5>코타키나발루</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='bki' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='bki' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>쿠알라룸프르</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='kulm' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='kulm' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>페낭</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='pen' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='pen' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>베트남</h3>
            <h5>다낭</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='dad' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='dad' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>호치민</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='sgn' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='sgn' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>하노이</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='han' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='han' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
    <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>인도네시아</h3>
            <h5>발리</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='dps' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='dps' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>자카르타</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='cgki' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='cgki' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>캄보디아</h3>
            <h5>씨엠립</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='rep' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='rep' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>프놈펜</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='pnh' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='pnh' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>태국</h3>
            <h5>방콕</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='bkkt' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='bkkt' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>파타</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='utp' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='utp' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
    </div>


    <div class="container">
        <h2>오세아니아</h2>
        <div class="container card float-left" style="width: 200px; margin: 30px">
            <h3>호주</h3>
            <h5>시드니</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='syda' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='syda' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
            <h5>멜버른</h5>
            <div>
                <a href="{% url 'search-flight' origin='sela' destination='mela' month=7 %}"
                   class="btn btn-primary">7월</a>
                <a href="{% url 'search-flight' origin='sela' destination='mela' month=8 %}"
                   class="btn btn-primary">8월</a>
            </div>
        </div>
    </div>


{% endblock %}