{% extends 'base.html' %}

{% block content %}

    <h2>일본</h2>
    <h3>오사카</h3>
    <div>
        <a href="{% url 'search-flight' origin='sela' destination='osaa' month=7 %}" class="btn btn-primary">7월</a>
        <a href="{% url 'search-flight' origin='sela' destination='osaa' month=8 %}" class="btn btn-primary">8월</a>
    </div>
    <h3>도쿄</h3>
    <div>
        <a href="{% url 'search-flight' origin='sela' destination='tyoa' month=7 %}" class="btn btn-primary">7월</a>
        <a href="{% url 'search-flight' origin='sela' destination='tyoa' month=8 %}" class="btn btn-primary">8월</a>
    </div>




{% endblock %}